@use '../utils/variables' as v;

.main-container {
  header {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$text-secondary;

    & .logo {
      font-size: 60px;
      transform: translateY(-6px);
    }
    & nav {
      transform: translateX(50px);
    }
  }
}
