@use '../utils/variables' as v;

.main-container {
  header {
    // width: 80%;
    display: flex;
    margin-left: 140px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    & .logo {
      font-size: 60px;
      transform: translateY(-6px);
      color: v.$text-secondary;
    }
    & nav {
      margin-left: 100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
