@use '../utils/variables' as v;

.sc-card {
  width: 33%;
  max-width: 370px;
  height: 370px;
  margin-bottom: 40px;
  color: v.$text-secondary;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .img-container {
    display: flex;
    height: 340px;
  }

  & img,
  video {
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
  }

  & i {
    color: v.$primary;
  }
  & .sc-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  & .likes {
    font-weight: 500;
    cursor: pointer;
  }
}
