@use '../base/_reset';
@use '../components/_header';
@use '../components/_single-card';
@use '../components/hero';
@use '../components/buttons';
@use '../components/dropdown';
@use '../components/total-likes';
@use '../components/modal-form';
@use '../components/slider';

@use '../utils/variables' as v;

.single-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  & .logo {
    color: v.$text-secondary;
    font-size: 60px;
  }
}

.single-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 90px;
  margin-bottom: 50px;
}
