@use '../base/_reset';
@use '../components/_header.scss';
@use '../components/_single-card.scss';
@use '../components/hero.scss';
@use '../components/buttons.scss';
@use '../components/select.scss';
@use '../components/total-likes.scss';

@use '../utils/variables' as v;

.single-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  & .logo {
    color: v.$text-secondary;
    font-size: 60px;
  }
}

.single-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
